<p style="color: green"><%= notice %></p>

<%= render @note %>

<div class="col-12">
  <div class="row float-end">
    <div class="col-md">
      <%= link_to "Delete", @note, data: { turbo_method: :delete, turbo_confirm: 'Do you want to proceed?' }, class: "link-danger" %>
    </div>
    <div class="col-md">
      <%= link_to "Edit", edit_note_path(@note), class: "btn btn-primary rounded-pill" %>
    </div>
  </div>
</div>



