/*Authentication views */
#logo {
    height: 30px;
    margin: 20px;
}

#sign-up-container,
#sign-in-container {
    height: 85vh;
}

.sign-text {
    color: black;
    font-size: small;
}

/*App containers*/
html,
body {
    height: 100vh;
    background-color: #f8f8f7;
}

#dashboard-wrapper {
    height: 100vh;
    max-width: 100vw;
}

#dashboard-container {
    min-height: 100vh;
    padding: 10vh 6vw;
}

/* Sidebar Menu */
#icon {
    height: 30px;
}

.menu-icon {
    color: #565E64;
}

/* Forms */
.label-text {
    margin: 0;
    font-weight: bold;
}

.field {
    margin: 10px 0px;
}



/*Override Bootstrap buttons and links */
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    background-color: #139AE7 !important;
    border: none;
    min-width: 100px;
}

.btn-primary:hover {
    background-color: #139AE7 !important;
}

.link-simple {
    text-decoration: none;
    color: #139AE7;
}

.link-simple:hover {
    color: inherit;
}


/* Notes List */
.note-box {
    height: 120px;
    background-color: #ffffe5;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 5vh;
}

.note-box-text {
    padding: 30px;
}

.note-box-text p {
    margin-bottom: 0;
}

.note-link {
    text-decoration: none;
    color: inherit;
}

